*{
    margin: 0;
    padding: 0;
}
body {
    background-color: gray;
    font-family: sans-serif;
}

.main-container {
    background-color: white;
    width: 90%;
    margin: auto;
    padding: 10px;
}

.img-header{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.img-header img {
    width: 20%;
}

.menu-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.menu-header a {
    flex: 1;
    text-decoration: none;
    background-color: navy;
    color: white;
    padding: 10px;
    border: 1px solid white;
    text-align: center;
}

.menu-header a:hover{
    background-color: lightskyblue;
    color: black;
}

.menu-header a.active-menu{
    background-color: white;
    color: black;
}

.konten-pariwisata{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.info-container {
    flex: 2;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-self: flex-start;
}

.paket-container {
    width: 300px;
    margin: 10px;
    border: 1px solid darkblue;
    padding: 10px;
    height: fit-content;
}

.paket-container a {
    display: block;
    width: 50px;
    text-decoration: none;
    background-color: darkblue;
    color: white;
    padding: 5px 8px;
    margin-top: 10px;
    text-align: center;
}
.paket-container a:hover{
    background-color: lightskyblue;
    color: black;
}

.paket-container h4 {
    color: lightslategray;
}

.paket-container img {
    width: 100%;
}

.promosi-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-container {
    width: 300px;
    height: 200px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid darkblue;
    padding: 10px;
}

.video-container h3{
    font-weight: normal;
    margin-bottom: 10px;
}

.video-container iframe {
    width: 100%;
    height: 200px;
}

.search-container{
    margin-bottom: 10px;
}

.search-container input[type='text'] {
    padding: 5px;
    margin-right: 10px;
}

.search-container input[type='submit'] {
    padding: 5px;
}

.brand-container {
    width: 60%;
    position: absolute;
    top: 10%;
    left: 10%;
}

.brand-container img {
    width: 60%;
}
.brand-container h1 {
    color: white;
    font-size: 3.5vw;
    text-shadow: 2px 2px 8px black;
}
.brand-container h2 {
    color: white;
    font-size: 2.5vw;
    text-shadow: 2px 2px 8px black;
}

.form-container, .list-container{
    padding: 10px;
}

.form-container h2, .list-container h2{
    margin-bottom: 10px;
}

label{
    display: block;
    margin-bottom: 5px;
}

.item-layanan{
    display: flex;
    flex-direction: row;
}

.item-layanan label{
    width: 200px;
}

input[type="text"], input[type="date"], input[type="number"], select{
    width: 100%;
    padding: 8px 0;
    margin-bottom: 15px;
}

input[type="checkbox"]{
    width: 15px;
}

.layanan-container{
    margin-bottom: 15px;
}

input[type="submit"], button{
    width: 80px;
    padding: 7px 0;
}

input[type="submit"], #btn-hitung{
    background-color: darkblue;
}

#btn-reset{
    background-color: red;
}

input[type="submit"], #btn-hitung, #btn-reset{
    color: white;
}

#harga_paket, #jumlah_tagihan, #jumlah_peserta, #jumlah_hari{
    text-align: right;
}

table{
    border-collapse: collapse;
}

th,td{
    border: 1px solid grey;
    padding: 5px;
}

.table-container{
    width: 100%;
    overflow-x: auto;
}

.btn-link a:first-child{
    background-color: darkblue;
    margin-bottom: 5px;
}

.btn-link a:last-child{
    background-color: darkred;
}

.btn-link a:first-child, .btn-link a:last-child{
    display: block;
    color: white;
    padding: 5px 0;
    text-decoration: none;
    width: 60px;
    text-align: center;
}

.footer{
    width: 90%;
    margin: auto;
    padding: 20px 10px;
    background-color: black;
    color: white;
}

.footer h3{
    text-align: center;
}

